In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('yellow_tripdata_2019-01.csv')

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv', iterator=True, chunksize=100_000)

In [9]:
df = next(df_iter)

In [10]:
len(df)

100000

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-01 13:43:31,2019-01-01 14:02:15,1,4.83,1,N,234,238,1,17.0,0.0,0.5,3.56,0.0,0.3,21.36,NaN
99996,1,2019-01-01 13:45:41,2019-01-01 13:51:12,4,1.10,1,N,230,186,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80,NaN
99997,1,2019-01-01 13:52:57,2019-01-01 14:02:20,4,0.90,1,N,186,170,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30,NaN
99998,2,2019-01-01 13:11:58,2019-01-01 13:16:56,5,1.72,1,N,107,229,2,7.0,0.0,0.5,0.00,0.0,0.3,7.80,NaN
99999,2,2019-01-01 13:20:35,2019-01-01 13:36:18,5,2.01,1,N,140,161,1,11.5,0.0,0.5,3.08,0.0,0.3,15.38,NaN

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [14]:
 %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 9.46 s, sys: 34.6 ms, total: 9.49 s
Wall time: 16.5 s

1000

In [15]:
from time import time

In [16]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.502 second
inserted another chunk..., took 16.537 second
inserted another chunk..., took 16.773 second
inserted another chunk..., took 16.441 second
inserted another chunk..., took 16.526 second
inserted another chunk..., took 16.466 second
inserted another chunk..., took 16.388 second
inserted another chunk..., took 16.547 second
inserted another chunk..., took 16.315 second
inserted another chunk..., took 17.131 second
inserted another chunk..., took 17.794 second
inserted another chunk..., took 17.140 second
inserted another chunk..., took 17.540 second
inserted another chunk..., took 17.033 second
inserted another chunk..., took 17.043 second
inserted another chunk..., took 18.342 second
inserted another chunk..., took 17.770 second
inserted another chunk..., took 20.395 second
inserted another chunk..., took 20.446 second
inserted another chunk..., took 17.851 second
inserted another chunk..., took 17.318 second
inserted another chunk..., took 17.286 second
inserted another chunk..., took 18.003 second
inserted another chunk..., took 17.623 second
inserted another chunk..., took 17.150 second
inserted another chunk..., took 16.339 second
inserted another chunk..., took 16.354 second
inserted another chunk..., took 17.005 second
inserted another chunk..., took 17.250 second
inserted another chunk..., took 19.564 second
inserted another chunk..., took 18.434 second
inserted another chunk..., took 16.470 second
inserted another chunk..., took 16.504 second
inserted another chunk..., took 17.231 second
inserted another chunk..., took 19.627 second
inserted another chunk..., took 17.129 second
inserted another chunk..., took 16.964 second
inserted another chunk..., took 17.871 second
inserted another chunk..., took 20.735 second
inserted another chunk..., took 19.083 second
inserted another chunk..., took 21.271 second
inserted another chunk..., took 16.641 second
inserted another chunk..., took 16.864 second
inserted another chunk..., took 16.625 second
inserted another chunk..., took 16.441 second
inserted another chunk..., took 16.683 second
inserted another chunk..., took 16.377 second
inserted another chunk..., took 16.818 second
inserted another chunk..., took 16.600 second
inserted another chunk..., took 16.713 second
inserted another chunk..., took 17.099 second
inserted another chunk..., took 16.923 second
inserted another chunk..., took 17.044 second
inserted another chunk..., took 16.562 second
inserted another chunk..., took 16.869 second
inserted another chunk..., took 16.566 second
inserted another chunk..., took 17.012 second
inserted another chunk..., took 16.802 second
inserted another chunk..., took 16.917 second
inserted another chunk..., took 16.984 second
inserted another chunk..., took 16.874 second
inserted another chunk..., took 16.948 second
inserted another chunk..., took 16.820 second
inserted another chunk..., took 16.733 second
inserted another chunk..., took 16.847 second
inserted another chunk..., took 16.948 second
inserted another chunk..., took 16.967 second
inserted another chunk..., took 16.831 second
inserted another chunk..., took 16.688 second
inserted another chunk..., took 16.622 second
inserted another chunk..., took 17.145 second
inserted another chunk..., took 16.800 second
inserted another chunk..., took 16.763 second
inserted another chunk..., took 16.860 second
inserted another chunk..., took 16.579 second
inserted another chunk..., took 11.360 second

StopIteration: