In [4]:
import pandas as pd
import sys

In [11]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-23 22:25:25--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Распознаётся s3.amazonaws.com (s3.amazonaws.com)… 52.217.200.40, 52.216.60.56, 52.217.76.190, ...
Подключение к s3.amazonaws.com (s3.amazonaws.com)|52.217.200.40|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 12322 (12K) [application/octet-stream]
Сохранение в: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    за 0,001s

2023-01-23 22:25:26 (8,20 MB/s) - ‘taxi+_zone_lookup.csv.1’ сохранён [12322/12322]

In [5]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
%time df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

CPU times: user 23.8 ms, sys: 10.3 ms, total: 34 ms
Wall time: 91.9 ms

265